@import '../../variables/index.scss';

.main {
  max-width: 1300px;
  height: 760px;
  margin: 0px 70px;
  @include flex-layout($justify: space-between);
}
.picture {
  width: 690px;
  height: $all-height;
}
.description {
  @include flex-layout($justify: flex-start, $align: center, $direction: column);
  margin-top: 50px;
  &__parag {
    width: $all-width;
    @include flex-layout($justify: flex-start, $align: flex-start);
    color: var(--main-color);
    @include font-layout($font20, $weight500, $height130, $family-Manrope);
    text-align: center;
  }
  &__button {
    width: 220px;
    height: 66px;
    @include flex-layout($justify: center, $align: center);
    padding: 20px 10px 20px 10px;
    border-radius: 6px;
    background: var(--main-color);
    color: var(--main-white);
    @include font-layout($font20, $weight400, $height130, $family-Montserrat);
  }
}
h3 {
  color: rgb(30, 30, 30);
  @include font-layout($font54, $weight600, $height130, $family-Manrope);
  text-align: center;
}
