@import '../../variables/variables.scss';
.section__block {
  margin-top: 80px;
  background: url('../../picture/fon.png') no-repeat center/cover;
  height: 535px;
  margin-bottom: 30px;
  width: 100%;
}
.container {
  max-width: $desctop;
  margin: 0 auto;
  padding: 0 5px;
}
.block1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  &__texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 23px;
    max-width: 600px;
  }
  &__title {
    @include font(45, 500);
  }
  &__text {
    @include font(25, 400);
  }
}
@media (max-width: $desctop1200) {
  .container {
    max-width: $desctop1180;
  }
  .section__block {
    height: 500px;
  }
  .block1 {
    &__title {
      @include font(40, 500);
    }
    &__text {
      @include font(20, 400);
    }
  }
}
@media (max-width: $tablet992) {
  .container {
    max-width: $tablet930;
  }
}
