@import '../../variables/index.scss';

.container {
  max-width: 1300px;
  margin: 60px 70px;
  @include flex-layout($direction: column);
}
h2 {
  color: var(--main-color);
  @include font-layout($font50, $weight500, $height130, $family-Manrope);
  margin: 60px auto;
}
.forBody {
  @include flex-layout($justify: space-between);
}
.main {
  width: 310px;
  margin-top: 260px;
  column-gap: 20px;
  &__image {
    width: $all-width;
  }
}
.generate {
  width: 310px;
  column-gap: 20px;
  &__image {
    width: $all-width;
  }
}
.text {
  color: var(--main-color);
  @include font-layout($font20, $weight500, $height130, $family-Manrope);
}
