$family-Manrope: 'Manrope', sans-serif;
$family-Montserrat: 'Montserrat', sans-serif;
$all-height: 100%;
$all-width: 100%;

:root {
  --main-color: rgb(30, 30, 30);
  --main-white: rgb(255, 255, 255);
  --pane-padding: 5px 42px;
}

@mixin font-layout($size, $weight, $height: normal, $family) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-family: $family;
}
@mixin flex-layout($direction: null, $justify: null, $align: null) {
  display: flex;
  @if $direction && $justify && $align != null {
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
}
$font40: 40px;
// $font32: 32px;
$font18: 18px;
$font54: 54px;
// $font15: 15px;
$font20: 20px;
// $font10: 10px;
// $font16: 16px;
// $font24: 24px;
// $font36: 36px;
// $font143: 143px;
// $font23: 23px;
// $font10: 10px;
// $font14: 14px;

$weight600: 600;
$weight500: 500;
$weight400: 400;
// $weight700: 700;
// $weight800: 800;

// $height39: 39px;
// $height17: 17px;
// $height273: 27.3px;
// $height193: 19.3px;
$height25: 25px;
$height130: 130%;
// $height27: 27px;
// $height24: 24px;
