@import '../../variables/index.scss';

.container {
  max-width: 1440px;
}
.main {
  margin: 70px;
  @include flex-layout($align: center, $justify: space-around);
}
.description {
  width: 485px;
  height: 358px;
  @include flex-layout($direction: column, $justify: center);
  &__text {
    color: var(--main-color);
    @include font-layout($font20, $weight400, $height130, $family-Manrope);
  }
  &__tag {
    color: var(--main-color);
    @include font-layout($font40, $weight500, $height130, $family-Manrope);
  }
}
.description article {
  height: 286px;
  text-align: center;
}
.forImage {
  width: 750px;
  height: 532px;
  border-radius: 10px;
}
