@import '../../variables/variables.scss';
.container {
  max-width: $desctop;
  margin: 0 auto;
  padding: 0 5px;
}
.pictures {
  text-align: center;
  &__title {
    margin-top: 70px;
    @include font(58, 500);
    padding-bottom: 72px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
  }
  .pictures__block {
    width: 100%;
    height: 800px;
    .picture {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .picture_2 {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    object-fit: cover;
  }
}

@media (max-width: $tablet992) {
  .container {
    max-width: $tablet930;
  }
  .pictures {
    text-align: center;
    &__title {
      margin-top: 70px;
      @include font(52, 500);
      padding-bottom: 72px;
    }

    .pictures__block {
      height: 700px;
    }
    .picture_2 {
      height: 330px;
    }
  }
}
