@import '../../variables/variables.scss';
.ordersection {
  margin-top: 80px;
  background: url('../../picture/fon2.png') no-repeat center/cover;
  height: 535px;
  margin-bottom: 30px;
}
.container {
  max-width: $desctop;
  margin: 0 auto;
  padding: 0 5px;
}
.block {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 95px;

  &__texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 23px;
    max-width: 600px;
  }
  &__title {
    @include font(45, 500);
  }
  &__text {
    @include font(25, 400);
  }
}
@media (max-width: $desctop1200) {
  .container {
    max-width: $desctop1180;
  }
  .block {
    &__texts {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      row-gap: 23px;
      max-width: 600px;
    }
    &__title {
      @include font(40, 500);
    }
    &__text {
      @include font(25, 400);
    }
  }
}
@media (max-width: $tablet992) {
  .container {
    max-width: $tablet930;
  }
}
