@import '../../variables/index.scss';

header {
  max-width: 1300px;
  height: 103.31px;
  margin: 20px 70px 0px 70px;
  @include flex-layout($justify: space-between, $align: center);
}
.logo {
  width: 138.08px;
  height: $all-height;
}
.navbar {
  width: 474px;
  height: 25px;
  @include flex-layout($justify: space-around);
  gap: 50px;
  &__link {
    color: rgb(30, 30, 30);
    @include font-layout($font18, $weight500, $height25, $family-Manrope);
    text-decoration: none;
  }
}
