// @import '../../variables/index.scss';
@import '../../sass/abstract/variables';

.containerf {
  width: $useful-width;
  height: 103.31px;
  margin: 70px;
  display: flex;
  justify-content: space-between;
}
.forPicturef {
  width: 138.08px;
  height: 103.31px;
}
.forPicturef img {
  width: $all-width;
  height: $all-height;
}
.mainf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
  &__tagf img {
    margin-right: 15px;
  }
}
