@import '../../sass/abstract/variables';
@import '../abstract/mixins';

.mainContainer4 {
  max-width: $useful-width;
}
.container4 {
  height: 280px;
  margin: 0px 70px 60px 70px;
  @include flex-layout($justify: space-around);
  gap: 20px;
}
.main4 {
  width: 310px;
  height: $all-height;
  @include flex-layout($direction: column, $align: center);
  border-radius: 6px;
  background: var(--main-color);
  text-align: center;
  &__general4 {
    padding: 20px;
  }

  &__description4 {
    color: var(--main-white);
    @include font-layout($font14, $weight400, $height19, $family-Manrope);
  }
}
.mainTag4 {
  color: var(--main-white);
  @include font-layout($font20, $weight600, $height24, $family-Montserrat);
}
.picture4 {
  position: relative;
  width: 100%;
  height: 458px;
}
.forImage4 {
  height: 100%;
}
.forImage4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.table4 {
  position: absolute;
  left: 70px;
  top: 80px;
  width: 485px;
  height: 288px;
  text-align: center;
  @include flex-layout($direction: column, $align: center);
  color: var(--main-color);
  &__tag4 {
    @include font-layout($font40, $weight500, $height130, $family-Manrope);
  }
  &__paragraph4 {
    @include font-layout($font20, $weight500, $height130, $family-Manrope);
  }
  &__button4 {
    width: 220px;
    height: 66px;
    @include flex-layout($justify: center, $align: center);
    border-radius: 6px;
    background: var(--main-color);
    color: var(--main-white);
    @include font-layout($font20, $weight400, $height130, $family-Montserrat);
  }
}
@include breakpoint(large) {
  .main4 {
    &__general4 {
      padding: 10px;
    }

    &__description4 {
      @include font-layout($font10, $weight400, $height19, $family-Manrope);
    }
  }
  .mainTag4 {
    @include font-layout($font14, $weight600, $height24, $family-Montserrat);
  }
}
@include breakpoint(larger) {
  .container4 {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
  }
  .main4 {
    height: 280px;
  }
}
@include breakpoint(medium) {
  .container4 {
    height: 300px;
    margin: 0px;
    height: 650px;
  }
  .main4 {
    width: 200px;
    height: 300px;
    &__general4 {
      padding: 5px;
    }

    &__description4 {
      @include font-layout($font10, $weight300, $height19, $family-Manrope);
    }
  }
  .mainTag4 {
    @include font-layout($font14, $weight400, $height24, $family-Montserrat);
  }
  .table4 {
    left: 5px;
    width: 250px;
    height: 400px;
    &__tag4 {
      @include font-layout($font24, $weight500, $height130, $family-Manrope);
    }
    &__paragraph4 {
      @include font-layout($font18, $weight500, $height130, $family-Manrope);
    }
    &__button4 {
      width: 100px;
      height: 30px;
      @include font-layout($font18, $weight400, $height130, $family-Montserrat);
    }
  }
}
@include breakpoint(small) {
  .main4 {
    width: 120px;
  }
  .mainTag4 {
    @include font-layout($font10, $weight400, $height24, $family-Montserrat);
    color: green;
  }
}
