// @import '../../variables/index.scss';
@import '../abstract/variables';
@import '../abstract/mixins';

.header {
  max-width: $useful-width;
  height: 103.31px;
  padding: 20px 70px 0px 70px;
  @include flex-layout($justify: space-between, $align: center);
  @include breakpoint(medium) {
    padding: 0;
  }
}

.navbar {
  height: 25px;
  @include flex-layout($justify: space-around);
  gap: 50px;
  &__link {
    color: var(--main-color);
    @include font-layout($font18, $weight500, $height25, $family-Manrope);
    text-decoration: none;

    @include breakpoint(medium) {
      display: none;
    }
  }
  &__button {
    display: none;

    @include breakpoint(medium) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      height: 50px;
      width: 50px;
      background-color: rgb(246, 239, 239);

      &__component {
        display: none;

        @include breakpoint(medium) {
          display: block;
          height: 5px;
          width: 100%;
          background-color: #333;
        }
      }
    }
  }
}
