@import '../../sass/abstract/variables';
@import '../abstract/mixins';
.container2 {
  max-width: $useful-width;
  border-top: 1px solid rgb(0, 0, 0);
}
.main2 {
  margin: 70px;
  @include flex-layout($align: center, $justify: space-around);
}
.description2 {
  width: 485px;
  height: 358px;
  @include flex-layout($direction: column);
  &__text2 {
    color: var(--main-color);
    @include font-layout($font20, $weight400, $height130, $family-Manrope);
  }
  &__tag2 {
    color: var(--main-color);
    @include font-layout($font40, $weight500, $height130, $family-Manrope);
  }
}
.description2 article {
  height: 286px;
  text-align: center;
}
.forImage2 {
  width: 750px;
  height: 532px;
  border-radius: 10px;
}
.forImage2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@include breakpoint(medium) {
  .main2 {
    margin: 10px;
  }
  .description2 {
    &__text2 {
      @include font-layout($font14, $weight400, $height130, $family-Manrope);
    }
    &__tag2 {
      @include font-layout($font40, $weight500, $height130, $family-Manrope);
    }
  }
  .description2 article {
    height: 100px;
    text-align: center;
  }
}
@include breakpoint(small) {
  .description2 {
    &__text2 {
      @include font-layout($font10, $weight400, $height130, $family-Manrope);
    }
    &__tag2 {
      @include font-layout($font20, $weight500, $height130, $family-Manrope);
    }
  }
}
@include breakpoint(large) {
  .description2 {
    // &__text2 {
    //   @include font-layout($font18, $weight400, $height130, $family-Manrope);
    // }
    &__tag2 {
      @include font-layout($font45, $weight500, $height130, $family-Manrope);
    }
  }
}
