@import '../../variables/index.scss';

.mainContainer {
  width: 1440px;
}
.container {
  max-width: $useful-width;
  height: 280px;
  margin: 0px 70px 60px 70px;
  @include flex-layout($justify: space-around);
}
.main {
  width: 310px;
  height: $all-height;
  @include flex-layout($direction: column, $align: center);
  border-radius: 6px;
  background: var(--main-color);
  text-align: center;
  &__general {
    padding: 20px;
  }

  &__description {
    color: var(--main-white);
    @include font-layout($font14, $weight400, $height19, $family-Manrope);
  }
}
.mainTag {
  color: var(--main-white);
  @include font-layout($font20, $weight600, $height24, $family-Montserrat);
}
.picture {
  position: relative;
  width: $all-width;
  height: 458px;
}
.table {
  position: absolute;
  left: 70px;
  top: 80px;
  width: 485px;
  height: 288px;
  text-align: center;
  @include flex-layout($direction: column, $align: center);
  color: var(--main-color);
  &__tag {
    @include font-layout($font40, $weight500, $height130, $family-Manrope);
  }
  &__paragraph {
    @include font-layout($font20, $weight500, $height130, $family-Manrope);
  }
  &__button {
    width: 220px;
    height: 66px;
    @include flex-layout($justify: center, $align: center);
    border-radius: 6px;
    background: var(--main-color);
    color: var(--main-white);
    @include font-layout($font20, $weight400, $height130, $family-Montserrat);
  }
}
